.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 0px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: white;
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__not {

    position: absolute;
    left:18px;
    top: -15px;
    
}
.nav__dot {
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left:30px;
    top: -10px;
}